<div class="row">
<div class="container">
    <div class="row">
        <div class="col-md-1"><label>Name:</label></div>
        <div class="col-md-1"><label>Type:</label></div>
        <div class="col-md-1"><label>Quantity:</label></div>
        <div class="col-md-1"><label>Unit:</label></div>
        <div class="col-md-1"><label>Type:</label></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input name="name">
        </div>
        <div class="col-md-1">
            <input name="levabond"> L
        </div>
        <div class="col-md-1">
            <input name="quantity">
            <select>
                <option value="lb">Pounds(lb)</option>
                <option value="oz">Ounces(oz)</option>
            </select>
        </div>
        <div class="col-md-1">
            <select>
                <option value="liquid">Liquid</option>
                <option value="dry">Dry</option>
                <option value="grain">Grain</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="javasript://" class="addAnother">+ Add Another</a>
        </div>
        <div class="col-md-6">
            <input type='submit'value='Create'/>
        </div>
    </div>
</div>
</div>