<h3>Hops</h3>
<div class="container">
    <ul>
        <li>
            <label>Type:</label>
            <label>Quantity:</label>
        </li>
        <li>
            <input name="type">
            <input name="quantity">
            <select>
                <option value="oz">Ounces(oz)</option>
                <option value="lb">Pounds(lb)</option>
            </select>
        </li>
    </ul>
</div>